.SignUp {
  margin: 30% 30% 30% 30%;
  /* margin : auto; */
  padding-left: 0;
}

.valid {
  color: red;
}

#google {
  width: 150px;
  height: 150px;
  background-image: url(http://th07.deviantart.net/fs70/150/i/2013/012/c/6/rock_01_png___by_alzstock-d5r84up.png);
  background-repeat: no-repeat;
}